@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

/* Dedication */
#dedication{
	font-variant: small-caps;
}

#dedication b{
	text-transform: uppercase;
}
/* End dedication */

/* Preface */
section[epub|type~="preface"]{
	margin-top: 20vh;
}

#preface footer{
	margin-top: 1em;
	text-align: right;
}
/* End preface */

/* Verses */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End verses */

/* Centered paragraph */
p.center{
	text-align-last: center;
}
/* End centered paragraph */

/* L'Envoi */
header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

#chapter-38-conclusion > p{
	font-style: italic;
}

#chapter-38-conclusion b{
	display: block;
	font-style: normal;
	margin-top: 2em;
	text-align: center;
}
/* End L'Envoi */
